<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>403846317102-6pam3qmd0erf8bnsqlg9sgivjjsokpcu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.403846317102-6pam3qmd0erf8bnsqlg9sgivjjsokpcu</string>
	<key>API_KEY</key>
	<string>AIzaSyCBpRcWGsbpxHSG3VyIfcYxjyIsLnbruYU</string>
	<key>GCM_SENDER_ID</key>
	<string>403846317102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterDropdownProject</string>
	<key>PROJECT_ID</key>
	<string>dropdown-proje</string>
	<key>STORAGE_BUCKET</key>
	<string>dropdown-proje.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403846317102:ios:696885fa4e2d7bdf490bbf</string>
</dict>
</plist>